<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Admin Page</title>
</head>

<body>
<a class="btn btn-primary" th:href="@{/admin/studentlist}" role="button">学生列表</a>
<a class="btn btn-primary" th:href="@{/classinfo}" role="button">班级信息</a>
<a class="btn btn-primary" th:href="@{/admin/info}" role="button">管理员信息</a>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>