<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Admin Info</title>
</head>

<body th:with="admin=${#session.getAttribute('admin')}">
<table class="table">
    <thead>
        <tr>
            <th scope="col">项目</th>
            <th scope="col">内容</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>管理员姓名</td>
            <td th:text="${admin.adminName}"></td>
        </tr>
        <tr>
            <td>管理员电话</td>
            <td th:text="${admin.adminPhone}"></td>
        </tr>
        <tr>
            <td>管理员微信</td>
            <td th:text="${admin.adminWechat}"></td>
        </tr>
        <tr>
            <td>管理员QQ</td>
            <td th:text="${admin.adminQQ}"></td>
        </tr>
        <tr>
            <td>管理员生日</td>
            <td th:text="${admin.adminBirthday}"></td>
        </tr>
        <tr th:switch="${admin.adminGender}">
            <td>管理员性别</td>
            <td th:case="1">男</td>
            <td th:case="2">女</td>
            <td th:case="*">不确定</td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateAdminInfoModal">修改管理员信息</button>
<a class="btn btn-primary" th:href="@{/classinfo}" role="button">查看班级信息</a>
<a class="btn btn-primary" th:href="@{/admin}" role="button">返回管理员主页</a>

<form method="post" th:action="@{/admin/update}">
    <div class="modal fade" id="updateAdminInfoModal" tabindex="-1" aria-labelledby="updateAdminInfoModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateAdminInfoModalLabel" th:text="|修改管理员信息 ${admin.adminName}|">修改管理员信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="updateAdminName" class="col-form-label">管理员姓名</label>
                        <input type="text" class="form-control" id="updateAdminName" name="adminName" th:value="${admin.adminName}">
                    </div>

                    <div class="form-group">
                        <label for="updateAdminPhone" class="col-form-label">管理员电话</label>
                        <input type="text" class="form-control" id="updateAdminPhone" name="adminPhone" th:value="${admin.adminPhone}">
                    </div>

                    <div class="form-group">
                        <label for="updateAdminWechat" class="col-form-label">管理员微信</label>
                        <input type="text" class="form-control" id="updateAdminWechat" name="adminWechat" th:value="${admin.adminWechat}">
                    </div>

                    <div class="form-group">
                        <label for="updateAdminQQ" class="col-form-label">管理员QQ</label>
                        <input type="text" class="form-control" id="updateAdminQQ" name="adminQQ" th:value="${admin.adminQQ}">
                    </div>

                    <div class="form-group">
                        <label for="updateAdminBirthday" class="col-form-label">管理员生日</label>
                        <input type="text" class="form-control" id="updateAdminBirthday" name="adminBirthday" th:value="${admin.adminBirthday}">
                    </div>

                    <div class="form-group">
                        <label for="updateAdminGender" class="col-form-label">管理员性别</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="adminGender" id="updateAdminGender" value="0" th:checked="${admin.adminGender eq 0}">
                            <label class="form-check-label" for="updateAdminGender">不确定</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="adminGender" id="updateAdminMaleGender" value="1" th:checked="${admin.adminGender eq 1}">
                            <label class="form-check-label" for="updateAdminMaleGender">男</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="adminGender" id="updateAdminFemaleGender" value="2" th:checked="${admin.adminGender eq 2}">
                            <label class="form-check-label" for="updateAdminFemaleGender">女</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>