<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Checked History</title>
</head>

<body>
<table class="table">
    <thead>
        <tr>
            <th scope="col">签到时间</th>
            <th scope="col">体温</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="checked : ${checkedList}">
            <td th:text="${checked.checkedTime}"></td>
            <td th:text="${checked.checkedTemperature}"></td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" th:if="${sessionFlag} eq 'student'" th:href="@{/student}" role="button">返回学生主页</a>
<a class="btn btn-primary" th:if="${sessionFlag} eq 'admin'" th:href="@{/admin/studentlist}" role="button">返回学生列表</a>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>