<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Checked History</title>
</head>

<body>
<table class="table">
    <thead>
        <tr>
            <th scope="col">签到时间</th>
            <th scope="col">当天健康状况</th>
            <th scope="col">当天是否接触新冠患者</th>
            <th scope="col">当天体温</th>
            <th scope="col">当天签到地</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="checked, stat : ${checkedList}">
            <td th:text="${checkedTimeFormatList.get(stat.index)}"></td>

            <td th:if="${checked.checkedIsFever}">有发烧咳嗽症状</td>
            <td th:unless="${checked.checkedIsFever}">健康</td>

            <td th:if="${checked.checkedIsContact}">是</td>
            <td th:unless="${checked.checkedIsContact}">否</td>

            <td th:text="${checked.checkedTemperature}"></td>

            <td th:text="${checkedLocateStringList.get(stat.index)}"></td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" th:if="${sessionFlag} eq 'student' and not ${#lists.isEmpty(checkedList)}" th:href="@{/student/download}" role="button">下载签到记录Excel</a>
<a class="btn btn-primary" th:if="${sessionFlag} eq 'admin' and not ${#lists.isEmpty(checkedList)}" th:href="@{/admin/downloadcheckedlist(id=${studentId},name=${studentName})}" role="button">下载签到记录Excel</a>
<a class="btn btn-primary" th:if="${sessionFlag} eq 'student'" th:href="@{/student}" role="button">返回学生主页</a>
<a class="btn btn-primary" th:if="${sessionFlag} eq 'admin'" th:href="@{/admin/studentlist}" role="button">返回学生列表</a>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>