<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Index</title>
</head>

<body>
<div class="container" th:if="${sessionFlag} eq 'none'">
    <form method="post" th:action="@{/login}">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1>学生健康管理监控系统</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-5 offset-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="username-addon">用户名</span>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="学生或者管理员的用户名" aria-label="username" aria-describedby="username-addon">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-5 offset-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="password-addon">密码</span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="请输入密码" aria-label="password" aria-describedby="password-addon">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6 col-md-2 offset-md-3">
                <a class="btn btn-secondary" role="button" th:href="@{/register/student}">注册学生</a>
            </div>

            <div class="col-6 col-md-2">
                <a class="btn btn-secondary" role="button" th:href="@{/register/admin}">注册管理员</a>
            </div>

            <div class="col-6 col-md-1">
                <button class="btn btn-primary" type="submit">登录</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <a href="http://beian.miit.gov.cn">鄂ICP备2021009043号-1</a>
        </div>
    </div>
</div>

<div class="container" th:if="${sessionFlag} eq 'student'" th:with="student=${#session.getAttribute('student')}">
    <div class="row">
        <div class="col-12 col-md-5 offset-md-3">
            <h4 th:text="|你已作为学生登录 ${student.studentName}|"></h4>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6 col-md-2 offset-md-3">
            <a class="btn btn-secondary" role="button" th:href="@{/exit}">退出登录</a>
        </div>

        <div class="col-6 col-md-2 offset-md-1">
            <a class="btn btn-primary" role="button" th:href="@{/student}">进入系统</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <a href="http://beian.miit.gov.cn">鄂ICP备2021009043号-1</a>
        </div>
    </div>
</div>

<div class="container" th:if="${sessionFlag} eq 'admin'" th:with="admin=${#session.getAttribute('admin')}">
    <div class="row">
        <div class="col-12 col-md-5 offset-md-3">
            <h4 th:text="|你已作为管理员登录 ${admin.adminName}|"></h4>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6 col-md-2 offset-md-3">
            <a class="btn btn-secondary" role="button" th:href="@{/exit}">退出登录</a>
        </div>

        <div class="col-6 col-md-2 offset-md-1">
            <a class="btn btn-primary" role="button" th:href="@{/admin}">进入系统</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <a href="http://beian.miit.gov.cn">鄂ICP备2021009043号-1</a>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>