<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Index</title>
</head>

<body th:with="student=${#session.getAttribute('student')}">
<table class="table">
    <thead>
        <tr>
            <th scope="col">项目</th>
            <th scope="col">内容</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>学生姓名</td>
            <td th:text="${student.studentName}"></td>
        </tr>
        <tr>
            <td>电话</td>
            <td th:text="${student.studentPhone}"></td>
        </tr>
        <tr>
            <td>微信</td>
            <td th:text="${student.studentWechat}"></td>
        </tr>
        <tr>
            <td>QQ</td>
            <td th:text="${student.studentQQ}"></td>
        </tr>
        <tr>
            <td>生日</td>
            <td th:text="${student.studentBirthday}"></td>
        </tr>
        <tr>
            <td>身高</td>
            <td th:text="|${student.studentHeight}cm|"></td>
        </tr>
        <tr>
            <td>体重</td>
            <td th:text="|${student.studentWeight}kg|"></td>
        </tr>
        <tr th:switch="${student.studentGender}">
            <td>性别</td>
            <td th:case="1">男</td>
            <td th:case="2">女</td>
            <td th:case="*">不确定</td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateStudentInfoModal">修改学生信息</button>
<a class="btn btn-primary" th:href="@{/classinfo}" role="button">查看班级信息</a>

<form method="post" th:action="@{/updatestudentinfo}">
    <div class="modal fade" id="updateStudentInfoModal" tabindex="-1" aria-labelledby="updateStudentInfoModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateStudentInfoModalLabel" th:text="|Update Student ${student.studentName}|">Update Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="updateStudentName" class="col-form-label">studentName:</label>
                        <input type="text" class="form-control" id="updateStudentName" name="studentName" th:value="${student.studentName}">
                    </div>

                    <div class="form-group">
                        <label for="updateStudentPhone" class="col-form-label">studentPhone:</label>
                        <input type="text" class="form-control" id="updateStudentPhone" name="studentPhone" th:value="${student.studentPhone}">
                    </div>

                    <div class="form-group">
                        <label for="updateStudentWechat" class="col-form-label">studentWechat:</label>
                        <input type="text" class="form-control" id="updateStudentWechat" name="studentWechat" th:value="${student.studentWechat}">
                    </div>

                    <div class="form-group">
                        <label for="updateStudentQQ" class="col-form-label">studentQQ:</label>
                        <input type="text" class="form-control" id="updateStudentQQ" name="studentQQ" th:value="${student.studentQQ}">
                    </div>

                    <div class="form-group">
                        <label for="updateStudentBirthday" class="col-form-label">studentBirthday:</label>
                        <input type="text" class="form-control" id="updateStudentBirthday" name="studentBirthday" th:value="${student.studentBirthday}">
                    </div>

                    <div class="form-group">
                        <label for="updateStudentHeight" class="col-form-label">studentHeight:</label>
                        <input type="text" class="form-control" id="updateStudentHeight" name="studentHeight" th:value="${student.studentHeight}">
                    </div>

                    <div class="form-group">
                        <label for="updateStudentWeight" class="col-form-label">studentWeight:</label>
                        <input type="text" class="form-control" id="updateStudentWeight" name="studentWeight" th:value="${student.studentWeight}">
                    </div>

                    <div class="form-group">
                        <label for="updateStudentGender" class="col-form-label">studentGender:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="studentGender" id="updateStudentGender" value="0" th:checked="${student.studentGender eq 0}">
                            <label class="form-check-label" for="updateStudentGender">不确定</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="studentGender" id="updateStudentMaleGender" value="1" th:checked="${student.studentGender eq 1}">
                            <label class="form-check-label" for="updateStudentMaleGender">男</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="studentGender" id="updateStudentFemaleGender" value="2" th:checked="${student.studentGender eq 2}">
                            <label class="form-check-label" for="updateStudentFemaleGender">女</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>