<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Student Page</title>
</head>

<body>
<a class="btn btn-primary" th:href="@{/student/checked}" role="button">签到页面</a>
<a class="btn btn-primary" th:href="@{/student/info}" role="button">个人信息</a>
<a class="btn btn-primary" th:href="@{/student/history}" role="button">签到历史</a>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>