<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Student List</title>
</head>

<body>
<table class="table">
    <thead>
        <tr>
            <th scope="col">学生姓名</th>
            <th scope="col">学生电话</th>
            <th scope="col">学生微信</th>
            <th scope="col">学生QQ</th>
            <th scope="col">学生生日</th>
            <th scope="col">学生身高</th>
            <th scope="col">学生体重</th>
            <th scope="col">学生性别</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${studentList}" th:switch="${student.studentGender}">
            <td th:text="${student.studentName}"></td>
            <td th:text="${student.studentPhone}"></td>
            <td th:text="${student.studentWechat}"></td>
            <td th:text="${student.studentQQ}"></td>
            <td th:text="${student.studentBirthday}"></td>
            <td th:text="|${student.studentHeight}cm|"></td>
            <td th:text="|${student.studentWeight}kg|"></td>
            <td th:case="1">男</td>
            <td th:case="2">女</td>
            <td th:case="*">不确定</td>
            <td>
                <a class="btn btn-primary" th:href="@{/admin/checkedlist(id=${student.studentId})}" role="button">查看签到记录</a>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" th:href="@{/admin/downloadstudentlist}" role="button">下载学生信息Excel</a>
<a class="btn btn-primary" th:href="@{/admin}" role="button">返回管理员主页</a>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>